.menu {
    padding: 1rem;
    font-family: monospace;
    font-size: 24px;
    color: #373D20;
}

.menu_list {
    padding: 0;
    list-style: none;
}

.menu_link {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: all 0.4s;
}

.menu_link:hover {
    background: #BCBD8B;
    color: #EFF1ED;
    transform: translateX(1rem);
}